{% extends "base.html" %}

{% block contents %}

<div class="content">
    <div class="container" style="padding-top: 120px;">
        <div class="row bg-primary my-2 mx-4">
            <div class="col-md-1 mx-1 align-self-center text-center">
                <div class="m-1">
                    {{ gamemode }}win
                </div>
                <div class="m-1">
                    {{ win }}wins
                </div>
            </div>
            <div class="row col-md-2.5 my-2 mx-4 align-self-center">
                <div class="p-1 col-md-4">
                    <img src="https://ddragon.leagueoflegends.com/cdn/10.6.1/img/champion/Shyvana.png"
                        class="rounded-circle" alt="{{ champion_name }}" width="64" height="66">
                </div>
                <div class="col-md-1">
                    <div class="my-1">
                        <img src="https://ddragon.leagueoflegends.com/cdn/10.6.1/img/champion/Shyvana.png"
                            class="Image tip tpd-delegation-uid-1" title="" alt="점멸" width="32" height="32">
                    </div>
                    <div class="my-1">
                        <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                            class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="mx-1 my-1">
                        <img src="https://ddragon.leagueoflegends.com/cdn/10.6.1/img/champion/Shyvana.png"
                            class="Image tip tpd-delegation-uid-1" title="" alt="점멸" width="32" height="32">
                    </div>
                    <div class="mx-1 my-1">
                        <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                            class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                    </div>
                </div>
            </div>

            <div class="col-md-1.5 my-4 align-self-center text-center">
                <!-- {{ kill }} / {{ death }} / {{ assist }} -->
                3 / 1 / 25
            </div>

            <div class="col-md-2 align-self-center">
                <div class="text-center">
                    레벨15
                </div>
                <div class="text-center">
                    165 (6.2) CS
                </div>
            </div>

            <div class="col-md-2.5 mx-5 align-self-center">
                <div class="m-1">
                    <div class="row">
                        <div class="mx-1 my-1">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                        <div class="my-1">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                        <div class="mx-1 my-1">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                        <div class="my-1">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mx-1">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                        <div class="my-0">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                        <div class="mx-1">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                        <div class="my-0">
                            <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="32" height="32">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1.5 mx-5">
                <div class="row float-right">
                    <div class="mx-5 ml-10">
                        <div class="mx-0">
                            <div class="row">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div class="align-self-center">
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-0">
                        <div class="mx-1">
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                            <div class="row align-self-center">
                                <div class="align-self-center">
                                    <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerSmite.png?image=c_scale,q_auto,w_22&amp;v=1619585878"
                                        class="Image tip tpd-delegation-uid-1" title="" alt="강타" width="16" height="16">
                                </div>
                                <div>
                                    {{ player }} player1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}